{##
 # Pages & Menus - Content pages tab
 #}

<div class="description">{{ t('pages.tab.content.description', {'url': 'https://support.x-cart.com/en/articles/4556418-template-editor'}) | raw }}</div><br>

{{ widget('CDev\\SimpleCMS\\View\\ItemsList\\Model\\Content') }}
