{##
 # Order Back link
 #
 # @ListChild (list="create_return.links", weight="10")
 #}

<li class="back">
  <a href="{{ xurl('order_list') }}"><strong>&larr;</strong><span>{{ t('Back to order list') }}</span></a>
</li>
