{##
 # Home location node
 #}

<li class="location-node">
    <a href="{{ this.getLink() }}" class="location-title home-link">
      {{ this.getName()|raw }}
      {{ widget('Qualiteam\\SkinActSkin\\View\\Icon', icon="i-home", class='location-node__icon-home') }}
    </a>
</li>
