{##
 # Product market price
 #
 #
 # @ListChild (list="product.plain_price.tail.subscription_info.text", weight="400")
 #}

<div class="text">
  <span class="value">{{ this.getTotalPaymentsDescription() }}</span>
</div>
