{##
 # Entity switcher
 #}

{% if this.isShowSwitchWarning(this.entity) %}
  <div class="address-field-warning-holder">
    {{ widget('XLite\\View\\Tooltip',
      text=this.getSwitchWarningMessage(this.entity),
      isImageTag='true',
      className='help-small-icon') }}
  </div>
{% else %}
  {% include 'items_list/model/table/parts/switcher.twig' %}
{% endif %}
