{##
 # Header ProMembership block
 #}

<div class="pro-member-widget__dropdown">
  <a href="{{ this.getProMembershipUrlLink() }}" class="pro-member-widget__link">
    <span class="pro-member-widget__banner">
      1 Year Free Shipping, Early Access, Special Promotions and No Minimum Order Restrictions
    </span>
    <span class="pro-member-widget__description">
      <ul class="pro-member-widget__bonuses">
        <li class="pro-member-widget__bonuses-item">Free shipping year-round on all the skincare products, supplies and selected equipment. ($99/year)</li>
        <li class="pro-member-widget__bonuses-item">Early access to discount rates</li>
        <li class="pro-member-widget__bonuses-item">Access to Special Promotions &amp; deals</li>
        <li class="pro-member-widget__bonuses-item">No Minimum Purchase required get free shipping even if your order total is $10 year round</li>
      </ul>
    </span>
  </a>
</div>
