{##
 # Shipstation statuses page
 #}

<div class="shipstation-statuses-page">
  <div class="table-label">{{ t('SkinActShipStationAdvanced add statuses combination') }}</div>
  <div class="table-value">
    {{ widget('Qualiteam\\SkinActShipStationAdvanced\\View\\ItemsList\\Model\\Statuses') }}
  </div>
</div>
