{##
 # Center zone
 #
 # @ListChild (list="amp.layout.main", weight="400")
 #}

<div id="main-wrapper">
  <div id="main" class="clearfix">
    <div class="flex-container">
        {{ widget_list('amp.layout.main.center') }}
    </div>
  </div>
</div>
