{##
 # Center box
 #
 # @ListChild (list="amp.layout.main.center", weight="200")
 #}

<div id="content" class="column">
  <div class="section">
    <a id="main-content"></a>
    {{ widget('XLite\\View\\ListContainer', inner='modules/QSL/AMP/layout/content/center.twig', group='amp.center') }}
  </div>
</div>
