{##
 # Delete address widget.
 #}
<button type="button" class="{{ this.getClass() }}" {{ this.printTagAttributes(this.getAttributes())|raw }}>
  {{ this.displayCommentedData(this.getCommentedData()) }}
  <span></span>
</button>
