{##
 # 
 #}

<p>{{ t('Customer sends to you a wishlist' , { 'customer' : this.customer.name }) }}</p>

<p>{{ t('Products from wishlist') }}:</p>

<ol>
{% for product in this.products %}
  <li><a target="_blank" href="{{ this.buildFullURL('product','', { 'product_id': product.getProductId() } ) }}">{{ product.getName() }}</a></li>
{% endfor %}
</ol>
