{##
 # GDPR
 #
 # @ListChild(list="gdpr-activities", zone="admin", weight="500")
 #}

<div>
  {{ t('Below is a list of accounts and 3d party services that have access to your customers personal data') }}
</div>