{##
 # Cart link
 #
 # @ListChild (list="layout.header.bar.links.list", weight="10")
 #}

<li>
 <a href="{{ xurl('cart') }}">
  {{ widget('Qualiteam\\SkinActSkin\\View\\Icon', icon="i-cart") }}
  {{ t('Shopping Cart') }}
 </a>
</li>