<li class="freq-products-grid__item">
  <div class="freq-products-grid__item-box freq-products-grid__item-box--type--total">
    {{ widget_list('itemsList.widget.frequentlyBought.product.grid.customer.total') }}
  </div>
</li>