{##
 # @ListChild (list="qsl.productquestions.list.item.parts", weight="100")
 #}

<div class="product-question-text">
    {{ widget_list('qsl.productquestions.list.item.parts.question', question=this.question) }}
</div>