{##
 # @ListChild (list="qsl.productquestions.tab", weight="100")
 #}

<div class="product-questions-header clearfix">
  <h2>{{ t('Product questions') }}</h2>
  <div class="buttons">
    {{ widget_list('qsl.productquestions.tab.actions') }}
  </div>
</div>