{##
# Display mandatory checkbox
#}

<div class="display-mandatory__block">
{{ widget('\\Qualiteam\\SkinActAftership\\View\\FormField\\Input\\ShippingMethodMandatoryCheckbox', fieldName="mandatory_checkbox", isChecked='false') }}
</div>