{##
 # Checkout items totals block
 #
 # @ListChild (list="checkout.cart", weight="20")
 #}
<ul class="cart-sums">
  <li>
    <em>{{ t('Subtotal') }}:</em>
    <span>{{ this.formatPrice(this.get('cart').getSubtotal(), this.get('cart').getCurrency(), 1) }}</span>
  </li>
</ul>
