{##
 # Submit button
 #
 # @ListChild (list="return.footer", weight="30")
 #}

{#<div class="section submit">#}
  {#<widget#}
    {#class="\XLite\View\Button\Submit"#}
    {#label="{getSubmitButtonLabel()}"#}
    {#fieldId="submit"#}
    {#fieldName="submit"#}
  {#/>#}
{#</div>#}


