<div class="product-questions-view">
    {{ this.displayCommentedData(this.getCommentedData()) }}
    <div class="no-product-questions">{{ t('No questions yet. Be the first to ask the question!') }}</div>
</div>