{##
 # Products grid - top info
 #
 # @ListChild (list="itemsList.product.grid.customer.info", weight="1000")
#}

<div class="infoBlock__bottom">
  {{ widget_list('itemsList.product.grid.customer.info.bottom') }}
</div>