{##
 # Products grid - top info
 #
 # @ListChild (list="itemsList.product.grid.customer.info", weight="5")
 #}

<div class="infoBlock__top">
  {{ widget_list('itemsList.product.grid.customer.info.top') }}
</div>