{##
 # @ListChild (list="qsl.productquestions.list.item.parts.answer", weight="100")
 #}

<span class="avatar fa fa-user"></span>
<div class="author">{% if this.isFullAdminNameVisible(this.question) %}{{ this.getFullAnswerName(this.question) }}{% else %}{{ this.getDefaultAnswerName(this.question) }}{% endif %}</div>
<div class="date">{{ this.formatTime(this.question.getAnswerDate()) }}</div>
<p class="text">{{ this.question.getAnswer()|nl2br }}</p>
