{##
 # Back to admin area button
 #
 # @ListChild(list="themetweaker-panel--header", weight="100")
 #}

<div class="themetweaker-bar-elem-wrapper">
  <span class="themetweaker-bar-elem themetweaker-storefront-builder">{{ t('Storefront Builder') }}</span>
</div>