{# #
 # Customer Note box
 #
 # Copyright (c) 2011-present Qualiteam software Ltd. All rights reserved.
 # See https://www.x-cart.com/license-agreement.html for license details.
#}
{% apply spaceless %}
  <div class="notify-me-wrapper {{ this.getFingerprint() }}">
    {{ widget('QSL\\BackInStock\\View\\CustomerNote', product=this.getProduct(), variant=this.getProductVariant()) }}
  </div>
{% endapply %}
