{##
 # "Core version" info
 #
 # @ListChild (list="admin.main.page.header", weight="20")
 #}
{% if this.isAdminAuthorizationFlow() %}
  <div class="base-version">{{ t('X-Cart eCommerce Solutions') }}</div>
{% endif %}
