{##
 # Payment method general info
 #
 # @ListChild (list="payment.methods.list.line", weight=200)
 #}

<div class="general-info">
  {{ widget_list('payment.methods.list.line.general-info', method=this.method) }}
</div>
