{##
 # Payment methods list : line : header : title
 #
 # @ListChild (list="payment.predefined-methods.list.line.general-info", weight=200)
 # @ListChild (list="payment.methods.list.line.general-info", weight=100)
 #}

<div class="title">{{ this.method.getName() }}<img src="{{ asset('images/spacer.gif') }}" class="fade" alt=""/></div>
