{##
 # Help for offline methods form
 #}

<div class="offline-methods-help">
  <div class="help-header">
    {{ t('Update your shipping profile by configuring rates for different methods and zones', {'zonesLink': xurl('zones')})|raw }}
  </div>
</div>
