{##
 # Help for carrier accounts form
 #}

<div class="shipping-solutions-help">
  <div class="help-header">
    {{ t('Automate your shipping process with the services of our partners') }}
  </div>
</div>
