{##
 # Header
 #}
<div id="before-header">
  {{ widget_list('admin.main.page.before_header') }}
</div>

<div id="header">
  <div class="main-header-container">
    <div class="main-header-left"></div>
    <div class="main-header">
      {{ widget_list('admin.main.page.header') }}
    </div>
    <div class="main-header-right">
      {{ widget_list('admin.main.page.header.right') }}
    </div>
  </div>
</div>
