{# #
 # Link Item
 #
 # @ListChild (list="product.attribute.values.checkbox.after", weight="10")
#}

{% if this.attributeValue.getValue() %}
  <div class="linked_product">
    {{ widget('\\Qualiteam\\SkinActLinkProductsToAttributes\\View\\FormField\\Select\\Model\\ProductSelector', fieldName=this.getName('linked_product_id', this.value_id), placeholder=t('Assign product'), fieldOnly='true', value=this.attributeValue.getLinkedProductId()) }}
  </div>
{% endif %}