<p>{{ t('Product: X', {'product': this.get('product').getName()}) }}</p>
<p></p>
<blockquote>{{ this.question.getQuestion() }}</blockquote>
<p><a href="{{ this.url }}">{{ t('Answer this question') }}</a></p>
<p></p>
