{##
 # @listChild (list="products.search.conditions.options_list_box", weight="100")
 #}

<td>
  <ul class="search-including-options">
    {{ widget_list('products.search.conditions.phrase') }}
  </ul>
</td>
