{##
 # @listChild (list="products.search.conditions.options_list_box", weight="200")
 #}

<td class="less-search-options-cell hidden-xs hidden-sm{% if this.showAdvancedPanel() %} expanded{% endif %}">
  <a href="javascript:void(0);" class="less" onclick="javascript:jQuery('.less-search-options-cell').toggleClass('expanded');jQuery('#advanced_search_options').toggle()">{{ t('Less search options') }}</a>
  <a href="javascript:void(0);" class="more" onclick="javascript:jQuery('.less-search-options-cell').toggleClass('expanded');jQuery('#advanced_search_options').toggle()">{{ t('More search options') }}</a>
</td>
