{##
 # @listChild (list="products.search.conditions.tail", weight="100")
 #}

<table class="search-form-main-part visible-xs visible-sm second">
  <tr>
    <td class="less-search-options-cell{% if this.showAdvancedPanel() %} expanded{% endif %}">
      <a href="javascript:void(0);" class="less" onclick="javascript:jQuery('.less-search-options-cell').toggleClass('expanded');jQuery('#advanced_search_options').toggle()">{{ t('Less search options') }}</a>
      <a href="javascript:void(0);" class="more" onclick="javascript:jQuery('.less-search-options-cell').toggleClass('expanded');jQuery('#advanced_search_options').toggle()">{{ t('More search options') }}</a>
    </td>
  </tr>
</table>
