{##
 # Shopping cart item : subtotal
 #
 # @ListChild (list="cart.item", weight="60")
 #}
<td class="item-subtotal">
  <span class="subtotal{% if this.item.getExcludeSurcharges() %} modified-subtotal{% endif %}">{{ widget('XLite\\View\\Surcharge', surcharge=this.item.getDisplayTotal(), currency=this.get('cart').getCurrency()) }}</span>
  {% if this.item.getExcludeSurcharges() %}
    <div class="including-modifiers" style="display: none;">
      <ul class="including-modifiers">
        {% for surcharge in this.item.getExcludeSurcharges() %}
          <li>
            <span class="name">{{ t('Including X', {'name': surcharge.getName()}) }}:</span>
            <span class="value">{{ widget('XLite\\View\\Surcharge', surcharge=surcharge.getValue(), currency=this.get('cart').getCurrency()) }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {{ widget_list('cart.item.actions', item=this.item) }}
</td>
