{##
 # Product hidden input
 #
 # @ListChild (list="searchPanel.product.admin.main.actions")
 # @ListChild (list="searchPanel.order.admin.main.actions")
 # @ListChild (list="searchPanel.profile.admin.customerprofiles.actions")
 # @ListChild (list="searchPanel.profile.admin.adminprofiles.actions")
 # @ListChild (list="searchPanel.profile.admin.main.actions")
 #}

<a href="{{ xurl(this.getTarget(), 'clearSearch') }}" class="clear-search">{{ t('Clear search') }}</a>

