<div class="added-previously-product-link {% if not this.isShowPreviouslyLink() %}hidden{% endif %}">
    {{ widget('\\Qualiteam\\SkinActCreateOrder\\View\\Button\\PopupAddedPreviouslyProduct') }}
</div>