{##
 # Message
 #
 # @ListChild (list="customer-survey.send.old.fields", weight="200")
 #}

<div class="form-item">
  <label for="message" class="for-message">
    {{ t('The correct product was delivered') }}
    </label>
  <div class="resizable-textarea">
    {{ widget('\\QSL\\CustomerSatisfaction\\View\\FormField\\Input\\Stars', barName='product_is_correct', max='5') }}
  </div>
</div>
