{##
 # @ListChild (list="searchPanel.qualiteam.skinactwishlistuserexport.admin.wishlistsearch.actions")
 #}

<a href="{{ url(this.getTarget(), 'clearSearch') }}" class="clear-search">{{ t('Clear search') }}</a>

