{#
 # ProMembership icon
 #}

<a class="pro-membership-icon-pp" href="{{ this.getOnClick() }}"><img class="free-shipping-icon-pp" src="{{ asset('modules/Qualiteam/SkinActProMembership/images/i-pro-membership.svg') }}"></a>