{#
 # ProMembership icon
 #}

<div class="pro-membership-icon" {{ this.getOnClick()|raw }}><img class="free-shipping-icon" src="{{ asset('modules/Qualiteam/SkinActProMembership/images/i-pro.svg') }}"></div>