{#
 # ProMembership icon
 #}

<a class="pro-membership-icon" href="{{ this.getOnClick() }}"><img class="free-shipping-icon" src="{{ asset('modules/Qualiteam/SkinActProMembership/images/i-pro.svg') }}"></a>