{#
 # ProMembership icon
 #}

<div class="pro-membership-icon-pp" {{ this.getOnClick()|raw }}><img class="free-shipping-icon-pp" src="{{ asset('modules/Qualiteam/SkinActProMembership/images/i-pro-membership.svg') }}"></div>