{#
 # ProMembership icon
 #}

<a class="{{ this.getClassName() }}" href="{{ this.getOnClick() }}">
	<div class="pro-membership-horizontal-banner__text">
		{{ t('SkinActProMembership product banner text') }}
	</div>
	{% if this.priceIsVisible() %}
		<div class="pro-membership-horizontal-banner__price">{{ this.getPriceLabel() }}</div>
	{% endif %}
	<div class="pro-membership-horizontal-banner__image"></div>
</a>
