{##
 # Theme tweaker notitication editor sidebar
 #}

<div id="themeTweaker_wrapper" style="display: none;" data-editor-wrapper>
  {{ widget('XC\\ThemeTweaker\\View\\NotificationEditor\\Sidebar\\DataSources') }}
  {{ widget('XC\\ThemeTweaker\\View\\NotificationEditor\\Sidebar\\Tree') }}
</div>
