{##
 # Product market price
 #
 #
 # @ListChild (list="cart.item.info.subscription", weight="100")
 #}

<div class="text">
  <span>{{ t('Setup fee') }}:</span> {{ this.formatPrice(this.orderItem.getDisplayPrice() - this.orderItem.getDisplayFeePrice(), null, 1) }}
</div>
