{##
 # Product market price
 #
 #
 # @ListChild (list="cart.item.info.subscription", weight="200")
 #}

<div class="text">
  <span>{{ t('Subscription fee') }}:</span> {{ this.formatPrice(this.orderItem.getDisplayFeePrice(), null, 1) }}
</div>
