{##
 # Sidebar menu
 #}

<amp-sidebar id="sdbr" class="sdbr" layout="nodisplay" side="right">
    <div class="cls-wrp">
        <a on="tap:sdbr.close" class="cls">
            <svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Mobile-view" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Menu" transform="translate(-284.000000, -21.000000)" stroke="#000000" stroke-width="0.4" fill="#000000">
                        <path d="M285.146687,37.8540006 C285.244187,37.9515002 285.372186,38 285.500186,38 C285.628185,38 285.756185,37.9510002 285.854184,37.8535006 L293.000156,30.6990285 L300.146128,37.8535006 C300.243628,37.9515002 300.371627,38 300.500127,38 C300.628126,38 300.756126,37.9510002 300.853626,37.8540006 C301.049125,37.6590013 301.049125,37.3425026 300.854126,37.1470033 L293.715153,30.0000313 L300.853626,22.8535592 C301.048625,22.65806 301.048625,22.3415612 300.853126,22.146562 C300.657126,21.9510628 300.341128,21.9510628 300.146128,22.147062 L292.999656,29.301534 L285.853684,22.147062 C285.658185,21.9515627 285.341686,21.9515627 285.146687,22.146562 C284.951188,22.3415612 284.951188,22.65806 285.146187,22.8535592 L292.284159,30.0000313 L285.146187,37.1470033 C284.951188,37.3420026 284.951188,37.6590013 285.146687,37.8540006 L285.146687,37.8540006 Z" id="Shape"></path>
                    </g>
                </g>
            </svg>
        </a>
    </div>
    <ul>
        {% if this.isDisplayCategories() %}
            {{ widget_list('amp.layout.header.categories') }}
        {% endif %}
        {{ widget_list('amp.header.menu') }}
    </ul>
</amp-sidebar>
