<div class="customer-orders-wrapper">
  <div class="customer-orders-title">{{ t('SkinActOrderMessaging Orders') }}</div>
  <div class="no-orders">{{ t('SkinActOrderMessaging No orders') }}</div>
</div>
