{##
 # Your account link
#}

<li class="account-link-your-account">
    <a href="{{ this.getYourAccountUrl() }}" class="your-account icon-user">
        {{ widget('Qualiteam\\SkinActSkin\\View\\Icon', icon="i-user", class='') }}
        <span>{{ this.getCaption() }}</span>
    </a>
</li>
