{##
 # Reorder link
#}

<li>
  <a class="icon-font" href="{{ this.getEducationalVideosUrl() }}">
    {{ widget('Qualiteam\\SkinActSkin\\View\\Icon', icon="i-video", class='') }}
    <span>{{ this.getCaption() }}</span>
  </a>
</li>