{##
 # Product details title main block
 #
 # @ListChild (list="product.details.quicklook.info", weight="12")
 #}

<a href="{{ xurl('product', '', {'product_id': this.get('product').product_id, 'category_id': this.getCategoryId()}) }}" class="product-more-link">{{ t('More details') }}</a>
