{##
 # Quicklook image block
 #
 # @ListChild (list="product.details.quicklook.image", weight="5")
#}

<div class="product-photo-box">
  {{ widget_list('product.details.quicklook.image.photo') }}
</div>
