{##
 #
 #}

<div class="wishlist-container">
  {% if this.doesWishlistHaveProducts() %}
    <div class="wishlist-topbar">
      <div class="wishlist-title">
        <h1 class="title" id="page-title">{{ this.getTitleString() }}</h1>
      </div>
      {{ widget("QSL\\MyWishlist\\View\\SendMailForm") }}
    </div>
    {{ widget("QSL\\MyWishlist\\View\\ItemsList\\Product\\Customer\\WishlistPage") }}
  {% else %}
    <div class="no-wishlist-products">{{ t('Feel free to add any product you like to your wishlist') }}</div>
  {% endif %}
</div>

