{##
 # Market price (internal list element)
 #
 # @ListChild (list="product.plain_price.before.market_price.text", weight="100")
 #}

{{ t('Market price') }}: <span class="value">{{ this.formatPrice(this.get('product').getDisplayMarketPrice(), null, 1) }}</span>,
