{##
 # Extra coupons and discounts link
#}

<li class="account-link-extra-coupons-and-discounts">
  <a href="{{ this.getExtraCouponsAndDiscountsUrl() }}" class="extra-coupons-and-discounts">
    {{ widget('Qualiteam\\SkinActSkin\\View\\Icon', icon="i-coupon", class='') }}
    <span>{{ this.getCaption() }}</span>
  </a>
</li>