{##
 # Item position
 #}

<td><input type="text" class="pos" size="5" name="{{ this.getNamePostedData('pos', this.get('product').getProductId()) }}" value="{{ this.get('product').getOrderBy() }}" /></td>
