{##
 # Review block
 #
 # @ListChild (list="reviews.review", weight="200")
 #}
<div class="rating clearfix">
  {{ widget('\\XC\\Reviews\\View\\VoteBar', rate=this.get('review').getRating(), max='5') }}
</div>
