{##
 # Shipstation code mapping page
 #}

<div class="shipstation-code-mapping-page">
  <div class="table-label">{{ t('SkinActAftership create a custom carrier slug combination to connect service shipstation and aftership') }}</div>
  <div class="table-value">
    {{ widget('Qualiteam\\SkinActAftership\\View\\ItemsList\\Model\\CodeMapping') }}
  </div>
</div>
