{##
 # Log in link
 #
 # @ListChild (list="amp.sidebar.additional-menu", weight="400")
 #}

<span>
    <a href="{{ xurl('login') }}" class="login btn btn-reg">
        <span>{{ t('Sign in / sign up') }}</span>
    </a>
</span>
