{##
 # Klarna button
#}

<div class="klarna-separator">
  <li class="separator"></li>
  <li class="klarna-separator__letters">OR</li>
  <li class="separator"></li>
</div>

<div class="klarna-button">
  <klarna-express-button
      data-locale="en-US"
      data-theme="light"
      data-label="default"
  />
</div>