{##
 # X-Payments bulk operation progress section
#}
<div class="bulk-operation-progress-box event-task-progress-page">

  <div class="bulk-operation-progress">
    <div class="progress-bar-container progress active progress-striped noblocking">
      <div class="bar progress-bar"></div>
    </div>
  </div>

  <p class="bulk-operation-message">
    <span class="message"></span>
    <span class="hidden reload">{{ t('Operation completed.') }} <a href="">{{ t('Reload the page.') }}</a></span>
  </p>

</div>
