{##
 # saved cards
 #}
<div class="dialog-content saved-cards-container">

	{% if this.getCards() %}

		{% include 'modules/Iidev/CloverPayments/saved_cards/cards.table.twig' %}

	{% endif %}

	{% if this.isSaveCardsAllowed() %}
		<div class="add-new-card-button">
			{{ widget('\\Iidev\\CloverPayments\\View\\Button\\AddNewCard', label=t('Add new card'), style='main-button', profileId=this.get('profile_id'), amount=1) }}
		</div>
	{% else %}
		{{ t('You\'ve reached the maximal amount of saved cards. If you want to add a new card, please remove the unused cards.') }}
  {% endif %}

</div>
