{#
 # @ListChild (list="customer.account.rewards.history.event", weight="10")
 #}
<td class="reward-event-date">{{ this.formatDate(this.event.date) }} &ndash; {{ this.formatDayTime(this.event.date) }}</td>