{##
 # Clear credit cards data progress section
#}
<div class="clear-cc-data-box clear-cc-data-progress event-task-progress-page">

    <div class="content">
        {% form 'XPay\\XPaymentsCloud\\View\\Form\\ClearCCData' with {formAction: 'quickDataCancel'} %}
            <div class="subcontent clearfix">
                {{ widget('XLite\\View\\EventTaskProgress', event=this.getEventName(), message=this.getProgressMessage(), showCancel=false ) }}
            </div>
            {{ widget('XLite\\View\\StickyPanel\\EventProgress') }}
        {% endform %}
    </div>

</div>
