{#
 # Google product rating settings
#}

<div class="google-product-rating-settings-page">
  {{ widget('\\Qualiteam\\SkinActGoogleProductRatingFeed\\View\\Model\\Settings\\GoogleProductRatingSettings', useBodyTemplate='1') }}
</div>