{##
 # Simple form for searching products template
 #}

<div class="simple-search-product-form srch-frm">

  {% form 'XLite\\View\\Form\\Product\\Search\\Customer\\SimpleForm' with {formMethod: 'GET'} %}
    {{ widget_list('amp.product.simple-search-form.simple-box') }}
  {% endform %}

</div>
