{##
 # GDPR settings note
 #}

<div class="alert alert-info">
  {{ t('NOTE: THIS ADD-ON WILL NOT MAKE YOUR WEBSITE GDPR COMPLIANT IF YOUR WEBSITE HAS A THIRD-PARTY EXTENSION/SNIPPET/WIDGET WHICH UTILIZES COOKIES (e.g. Google Analytics).')|raw }}
</div>