{##
 # Header bar
 #
 # @ListChild (list="footer.menus", weight="20")
 #}

<li class="leaf showroom-menu">
 <span class="footer-title">{{ t('[SkinActSkin] Los Angeles Showroom') }}</span>
 <ul>
  <li>
   <p>
    9667 Canoga Ave, Chatsworth, CA 91311
   </p>

   <h5>Monday to Friday:</h5>

   <p>
    9:00 AM to 5:00 PM (Pacific Standard Time)
   </p>
  </li>
 </ul>
</li>