{##
 # Header bar
 #
 # @ListChild (list="footer.menus", weight="10")
 #}

<li class="leaf about-us-menu">
 <span class="footer-title">{{ t('[SkinActSkin] About Us') }}</span>
 <ul>
  <li>
   <p>Place an Order Online 7 Days a Week 24 Hours a Day</p>

   <h5>Business Hours:</h5>
   <p>9:00 AM to 5:00 PM (Pacific Standard Time)</p>

   <p class="about-us-menu__phones">
    <a href="tel:1-800-418-0830">1-800-418-0830 Toll Free</a>
    <a href="tel:1-818-834-6640">1-818-834-6640 International</a>
   </p>
  </li>
 </ul>
</li>