{##
 # @ListChild (list="product.plain_price_only", weight="20")
 #}
<li class="reward-points-promo reward-points-promo--grid">
  {{ widget('QSL\\LoyaltyProgram\\View\\Product\\ItemsList\\ProductPoints', product=this.product) }}
</li>
