{##
 # @ListChild (list="itemsList.product.list.customer.info", weight="37")
 #}
<div class="reward-points-promo">
  {{ widget('QSL\\LoyaltyProgram\\View\\Product\\ItemsList\\ProductPoints', product=this.product) }}
</div>
