{##
 # Clear seach button
 #
 # @ListChild (list="searchPanel.qualiteam.skinactskuvault.logssearch.actions", weight="100")
#}

<a href="{{ xurl(this.getTarget(), 'clearSearch') }}" class="clear-search">{{ t('Reset filter') }}</a>
