{##
 # Location template
 #}

{% if this.get('target') == 'capost' %}
  <span>&nbsp;::&nbsp;Shipping settings&nbsp;::&nbsp;<a href="{{ xurl('capost') }}" class="navigation-path">Canada Post Settings</a></span>
{% endif %}

