{##
 # Educational videos link
 #}

<li class="account-link-educational-videos">
  <a href="{{ this.getEducationalVideosUrl() }}" class="educational-videos">
    {{ widget('Qualiteam\\SkinActSkin\\View\\Icon', icon="i-video", class='') }}
    <span>{{ this.getCaption() }}</span>
  </a>
</li>