{##
 # Language name cell
 #}

<span class="flag"><img src="{{ this.entity.getFlagURL() }}" /></span>
<a href="{{ xurl('labels', '', {'code': this.entity.getCode(), 'section': 'store'}) }}">{{ this.entity.getName() }}</a>
