<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="ROBOTS" content="NOINDEX"/>
  <meta name="ROBOTS" content="NOFOLLOW"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page not found</title>
  <link rel="shortcut icon" href="images/simplecms/favicon.ico" type="image/x-icon"/>
  <link href="assets/web/customer/css/error.css" rel="stylesheet" type="text/css"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="assets/web/customer/js/jquery.min.js"></script>
  <script src="assets/web/customer/js/jquery-migrate.min.js"></script>
  <script src="assets/web/customer/js/underscore-min.js"></script>
  <script src="assets/web/customer/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/web/customer/js/jquery.collapser.js"></script>
  <script src="assets/web/customer/js/error_page.js"></script>
</head>

<body>

<div class="page-not-found">
  <div class="header">
    <div class="logo">
      <a href="/" title="Home" rel="home">
        <img class="logo-image" src="assets/web/customer/images/logo.gif">
      </a>
    </div>
  </div>

  <div id="main-area" class="container">

    <div class="title">404</div>

    <h1>Sorry, this URL does not exist or is no longer available.</h1>

    <div class="page-404">
      <div>
        <a href="/">Go to home page</a> | <a href="/contact-us/">Contact us</a>
      </div>
      <div>If you continue having trouble finding what you are looking for please contact our customer service
        department.
      </div>
    </div>

    <div class="page-404">
      <div class="phone">
        <span class="name">Phone:</span>
        {{ include ('404/parts/phones.twig') }}
      </div>
    </div>

  </div>

  <div class="footer-area">
    <div class="container">
      <div id="secondary-menu" class="clearfix">
        <ul class="footer-menu">
          <li class="leaf about-us-menu">
            <span class="footer-title">About Us</span>
            <ul>
              <li>
                <p>Place an Order Online 7 Days a Week 24 Hours a Day</p>
                <h5>Business Hours:</h5>
                <p>9:00 AM to 5:00 PM (Pacific Standard Time)</p>
                <p class="about-us-menu__phones">
                  <a href="tel:1-800-418-0830">1-800-418-0830 Toll Free</a>
                  <a href="tel:1-818-834-6640">1-818-834-6640 International</a>
                </p>
              </li>
            </ul>
          </li>
          <li class="leaf showroom-menu">
            <span class="footer-title">Los Angeles Showroom</span>
            <ul>
              <li>
                <p>
                  9667 Canoga Ave, Chatsworth, CA 91311
                </p>
                <h5>Monday to Friday:</h5>
                <p>
                  9:00 AM to 5:00 PM (Pacific Standard Time)
                </p>
              </li>
            </ul>
          </li>
          <li class="leaf first">
            <span class="footer-title">Offers</span>
            <ul>
              <li class="leaf">
                <a href="/sale-products/">Sale</a>
              </li>
              <li class="leaf">
                <a href="/coming-soon/">Coming soon</a>
              </li>
              <li class="leaf">
                <a href="/newarrivals/">New!</a>
              </li>
            </ul>
          </li>
          <li class="leaf">
            <span class="footer-title">Info links</span>
            <ul>
              <li class="leaf">
                <a href="Return-Warranty-Repair-Policy.html">Shipping</a>
              </li>
              <li class="leaf">
                <a href="Terms-and-Privacy-statement.html">Terms &amp; Conditions</a>
              </li>
            </ul>
          </li>
          <li class="leaf social-menu">
            <span class="footer-title">Social</span>
            <ul class="social-list">
              <li>
                <div class="social-list">
                  <a class="social-list__item" href="https://www.facebook.com/SkinAct/" target="_blank">
                    <img src="/assets/web/customer/images/i-social-facebook.svg">
                  </a>
                  <a class="social-list__item" href="https://twitter.com/spaandequipment" target="_blank">
                    <img src="/assets/web/customer/images/i-social-twitter.svg">
                  </a>
                  <a class="social-list__item" href="https://pinterest.com/skinact/spaandequipmentcom/" target="_blank">
                    <img src="/assets/web/customer/images/i-social-pinterest.svg">
                  </a>
                  <a class="social-list__item" href="https://www.youtube.com/user/TheSpaandEquipment" target="_blank">
                    <img src="/assets/web/customer/images/i-social-youtube.svg">
                  </a>
                  <a class="social-list__item" href="https://www.instagram.com/spa_and_equipment/" target="_blank">
                    <img src="/assets/web/customer/images/i-social-instagram.svg">
                  </a>
                  <a class="social-list__item" href="https://spaandequipment.blogspot.com/" target="_blank">
                    <img src="/assets/web/customer/images/i-social-blogger.svg">
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <div id="footer">
        <div class="section">
          <div class="powered-by">
            <p class="copyright">Copyright © 2001 - 2024 Spa and Equipment</p>
          </div>
          <div class="payments-icons">
            <img src="/assets/web/customer/images/i-payment-visa.svg">
            <img src="/assets/web/customer/images/i-payment-paypal.svg">
            <img src="/assets/web/customer/images/i-payment-maestro.svg">
            <img src="/assets/web/customer/images/i-payment-discover.svg">
            <img src="/assets/web/customer/images/i-payment-ebay.svg">
            <img src="/assets/web/customer/images/i-payment-2co.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

</html>
