{##
 # Quantity item cell
 #
 # @ListChild (list="order_return.item", weight="30")
 #}

<td class="qty" style="text-align: center; vertical-align: top; border-width: 1px; border-collapse: collapse; border-spacing: 0px; border-style: solid; border-color: #c4c4c4; padding: 10px 20px;vertical-align: top;">{{ this.item.getAmount() }}</td>
