{# #
 # Product quantity widget (for customer area)
#}
{% apply spaceless %}
  <span class="{{ this.getCSSClass() }} {{ this.getFingerprint() }}">
    {% if not this.isAllStockInCart() and this.isProductAvailableForSale() %}
      {{ t('Qty') }}: {{ widget('\\XLite\\View\\Product\\QuantityBox', fieldValue=this.getQuantity(), product=this.getProduct(), maxValue=this.getMaxQuantity()) }}
    {% endif %}
  </span>
{% endapply %}
