{##
 # Contact us
#}

<div class="contact-us-block">
  <div class="contact-us-form-wrapper">
    <div class="contact-us-request-catalog">
      {{ widget('\\Qualiteam\\SkinActContactUsPage\\View\\RequestCatalog') }}
    </div>

    <div class="form-wrapper">
      {{ widget('\\CDev\\ContactUs\\View\\FormWrapper') }}
    </div>
  </div>

  <div class="company-info">
    {{ widget('\\Qualiteam\\SkinActContactUsPage\\View\\CompanyShowroomInfo') }}
  </div>
</div>