{##
 # Payment methods 
 #
 #}

<br />

<div>

  {% form '\\Qualiteam\\SkinActXPaymentsConnector\\View\\Form\\PaymentMethods' %}

    {{ widget('Qualiteam\\SkinActXPaymentsConnector\\View\\ItemsList\\Model\\PaymentMethods') }}

  {% endform %}

</div>
