{##
 # Orders
 #}

{% if this.entity.orders_count and this.get('auth').isPermissionAllowed('manage orders') %}
  <a href="{{ xurl('order_list', 'searchByCustomer', {'profileId': this.entity.profile_id}) }}">{{ this.entity.orders_count }}</a>
{% elseif this.entity.orders_count and not this.get('auth').isPermissionAllowed('manage orders') %}
  {{ this.entity.orders_count }}
{% else %}
  0
{% endif %}
