{##
 # Order items
 #
 # @ListChild (list="order_return.base", weight="10")
 #}

<table cellspacing="0" class="items">
  <tr>{{ widget_list('order_return.items.head') }}</tr>
  {% for index, item in this.order.getOrderReturnItems() %}
    <tr>{{ widget_list('order_return.item', item=item) }}</tr>
  {% endfor %}
  {% for w in this.getViewList('order_return.items') %}
    <tr>{{ w.display() }}</tr>
  {% endfor %}
</table>