{# #
 # result 404 page preview
#}
<div class="table-value">
	<span class="help-block">
		<span class="text-wrapper">
			{{ t('Result preview') }}: <a href="{{ this.getResultPreview404PageUrl() }}">{{ t('404 page') }}</a>
		</span>
	</span>
</div>
