<a href="{{ this.getProductUrl() }}#yotpoReviewsWidget">
  <div class='yotpo-widget-instance'
       data-yotpo-instance-id="{{ this.getWidgetId() }}"
       data-yotpo-product-id="{{ this.getProductSku() }}"
  ></div>
</a>