{##
 # Item thumbnail
 #
 # @ListChild (list="amp.itemsList.product.grid.customer.info.photo", weight="10")
 # @ListChild (list="amp.itemsList.product.list.customer.photo", weight="10")
 # @ListChild (list="amp.itemsList.product.small_thumbnails.customer.info.photo", weight="10")
 # @ListChild (list="amp.itemsList.product.big_thumbnails.customer.info.photo", weight="10")
 #}
<a
  href="{{ this.getProductURL(this.categoryId) }}"
  class="prod-thumb">
  {{ widget('\\XLite\\View\\Image', image=this.get('product').getImage(), maxWidth=this.getIconWidth(), maxHeight=this.getIconHeight(), alt=this.getIconAlt(), className='photo') }}
</a>
