{##
 # Market price (internal list element)
 #
 #}

<span class="market-price-label">{{ t('Market price') }}:</span> <span class="value"><span>{{ this.formatPrice(this.get('product').getDisplayMarketPrice(), null, 1) }}</span></span>
