{##
 # Select profile
 #}

<span class="select-field-value">
  <input class="checkbox-only-one"
         id="selector_{{ this.getEntity().getProfileId() }}"
         type="checkbox"
         name="select"
         value="{{ this.getEntity().getProfileId() }}" />
</span>
