{##
 # Images sizes settings template
 #
 # @ListChild (list="images_settings", weight="100")
 #}

<li>
  <div class="custom-images">
    <h2>{{ t('Custom images') }}</h2>

    {{ widget('XC\\ThemeTweaker\\View\\ItemsList\\Model\\CustomImages') }}
  </div>
</li>
