{##
 # Main element (input)
 #
 # @ListChild (list="amp.product.simple-search-form.simple-box.elements", weight="20")
 #}

<div class="srch-btn">{{ widget('\\XLite\\View\\Button\\Submit', style='submit-button', label=t('Search')) }}</div>
