{##
 # Contact us
 #}

<div class="contact-us-block">
  <div class="contact-us-description">{{ t('To contact us please fill the form below')|raw }}</div>

  <div class="form-wrapper">
    {{ widget('\\CDev\\ContactUs\\View\\FormWrapper') }}
  </div>

  <div class="company-info">
    {{ widget('\\CDev\\ContactUs\\View\\CompanyInfo') }}
  </div>
</div>
