{##
 # Submit button
 #
 # @ListChild (list="create_return.base", weight="40")
 #}

<div class="section submit">
  {{ widget('\\QSL\\Returns\\View\\Button\\Customer\\ModifyReturn\\Submit', label=this.getSubmitButtonLabel(), fieldId='submit', fieldName='submit') }}
</div>


