{##
 # API Info
#}
<div class="api-alert-block">
  <div class="alert alert-info">
    {{ t('An API key is a secret key that allows you to use REST API functionality to get or change various information in your store (products, categories, user profiles, orders, etc.).', {innerUrl: this.getInnerApiUrl(), extendUrl: this.getExtendApiUrl()})|raw }}
  </div>
  <div class="alert alert-warning">
    <i class="fa fa-warning"></i>
    <strong>{{ t('IMPORTANT:') }}</strong> {{ t('Your API key must be as complex as possible and stored securely.') }}
  </div>
</div>
