{##
 # Root dir warning template
 #}

<div class="alert alert-warning root-upgrade-block">
  {{ t('We noticed that your server config had not been changed after updating from X-Cart 5.4.1.x to X-Cart 5.5.0.x, and the root folder is still specified as a folder other than public.', {'url': 'https://developer.x-cart.com/getting_started/server_setup'})|raw }}
</div>
