{##
 # Logout button
 #}

<li class="account-links__list-item account-links__list-item--bottom account-links__list-item--login">
  {{ widget('Qualiteam\\SkinActSkin\\View\\Menu\\Account\\LoginButton') }}
</li>
