{##
 # Name item cell
 #
 # @ListChild (list="return.item", weight="10")
 #}

<td class="select">
  {{ widget('XLite\\View\\FormField\\Input\\Checkbox\\SimpleInline', value='1', fieldOnly='true') }}
</td>
