{##
 #
 # @ListChild (list="layout.header.bar.links.logged", weight="210")
 # @ListChild (list="slidebar.additional-menu.links", weight="15")
 #}
<li class="wishlist-link">
  {{ widget('QSL\\MyWishlist\\View\\WishlistLink', hasLabel=true) }}
</li>
