{##
 # @ListChild (list="layout.header.right", weight="75")
 # @ListChild (list="layout.header.right.mobile", weight="110")
 #}
<div class="{{ this.getWishlistBlockCSS() }}">{{ widget('QSL\\MyWishlist\\View\\WishlistLink') }}</div>
