{##
 # Reviews list header
 #
 # @ListChild (list="product.reviews.tab", weight="200")
 #}

<div class="header">
  <div class="left">
    <div class="head-h2">{{ t('Customer reviews') }}</div>
    {{ widget('Qualiteam\\SkinActSkin\\Modules\\XC\\Reviews\\View\\AverageRatingExpanded', product=this.getProduct()) }}
  </div>

  <div class="buttons">
    {{ widget_list('reviews.general') }}
  </div>

</div>
