{##
 # Mobile menu button
#}
<li class="{{ this.getClass() }}">
  <a id="main_menu" href="#slidebar" class="icon-menu" aria-label="{{ t('Menu') }}">
    {{ widget('Qualiteam\\SkinActSkin\\View\\Icon', icon="i-burger", class='mobile_header-slidebar__icon') }}
  </a>
</li>
