{##
 # Mobile header logo
 #
 #}

<div id="{{ this.getUniqueId('logo') }}" class="company-logo">
  <a href="{{ xurl() }}" title="{{ this.getLogoAlt() }}" rel="home">
    <img class="logo__image" src="{{ asset('images/spa-logo.svg') }}" alt=""/>
  </a>
</div>
