{##
 # Mobile header logo
 #
 #}
<div id="{{ this.getUniqueId('logo') }}" class="company-logo">
  <a href="{{ xurl() }}" title="{{ this.getLogoAlt() }}" rel="home">
    {{ widget('\\XLite\\View\\LogoMobile') }}
  </a>
</div>
