{##
 # Item description
 #
 # @ListChild (list="itemsList.product.list.customer.info", weight="30")
 #}
{% if this.get('product').getBriefDescription() %}
  <div class="description product-description">{{ this.get('product').getProcessedBriefDescription()|raw }}</div>
{% endif %}
