{##
 # Item link
 #
 # @ListChild (list="itemsList.product.table.customer.columns", weight="20")
 #}

<a href="{{ this.getProductURL(this.categoryId) }}" class="product-link">
  {{ this.get('product').name }}
</a>
{% if this.get('product').isShowStockWarning() %}
  <span class="product-items-available low-stock">{{ t('Only X left in stock', {'X': this.get('product').getAvailableAmount()}) }}</span>
{% endif %}
