{##
 # Second check address
 #
 # @ListChild (list="checkout.shipping.selected.sub.payment", weight="110")
 #}

{% if this.isShippingEnabled() and this.isAvaTaxAddressVerificationEnabled() %}
  <div class="avatax-check-box billing" {% if this.isSameAddress() %} style="display: none;"{% endif %}>
    {{ widget('XLite\\View\\Button\\Regular', label=t('Check address'), style='avatax-check billing') }} 
  </div>
{% endif %}

