{##
 # Reorder page
#}

<li class="account-link-reorder">
  <a href="{{ this.getReOrderUrl() }}" class="reorder">
    {{ widget('Qualiteam\\SkinActSkin\\View\\Icon', icon="i-reorder", class='') }}
    <span>{{ this.getCaption() }}</span>
  </a>
</li>