{##
 # Header logo
 #
 # @ListChild (list="amp.layout.header", weight="990")
 #}
<div class="mnu">
    <a on="tap:sdbr.toggle">
        <svg width="22px" height="16px" viewBox="0 0 22 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Mobile-view" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Mobile-Home-page" transform="translate(-279.000000, -22.000000)" stroke-width="0.4" stroke="#252337" fill="#000000">
                    <g id="header">
                        <g id="icon" transform="translate(183.000000, 16.000000)">
                            <path d="M97,8 C97,7.44771525 97.4553056,7 97.9918031,7 L116.008197,7 C116.555955,7 117,7.44386482 117,8 C117,8.55228475 116.544694,9 116.008197,9 L97.9918031,9 C97.4440454,9 97,8.55613518 97,8 Z M97,14 C97,13.4477153 97.4529704,13 97.9986877,13 L108.728585,13 C109.280145,13 109.727273,13.4438648 109.727273,14 C109.727273,14.5522847 109.274302,15 108.728585,15 L97.9986877,15 C97.4471277,15 97,14.5561352 97,14 Z M97,20 C97,19.4477153 97.4553056,19 97.9918031,19 L116.008197,19 C116.555955,19 117,19.4438648 117,20 C117,20.5522847 116.544694,21 116.008197,21 L97.9918031,21 C97.4440454,21 97,20.5561352 97,20 Z" id="Combined-Shape"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </a>
</div>
