{##
 # Product link
 #}

<a
  href="{{ xurl('product', '', {'product_id': this.entity.product.getId()}) }}"
  title="{{ this.entity.product.getName() }}"
  class="gift-tier-name product-name">
  {{ this.entity.product.getName() }}</a>
