{##
 # Sale price (internal list element)
 #
 # @ListChild (list="product.plain_price.before.sale_price.text", weight="200")
 #}
<span class="value"><span>{{ this.formatPrice(this.getOldPrice(), null, 1) }}</span></span>
