{# #
 # Review
 #
 # @ListChild (list="review.add.fields", weight="400")
#}
<div class="form-item clearfix table-label-required">

    <label for="review" class="review ">
        {{ t('Write your review') }}
    </label>

    <br/>
    {{ widget('\\XLite\\View\\FormField\\Textarea\\Simple', comment=t('SkinActCustomerReviews Textarea maxLen 5000'), maxlength=5000, required=true, placeholder=t('Your review', [], null, 'placeholder'), fieldOnly='true', fieldName='review', rows='6', cols='78', value=this.get('review').review) }}

</div>
