{##
 # Form field
 #}

{% include 'form_field/input/checkbox/on_off.twig' %}

<span class="links-block">
  <a href="{{ xurl('paypal_commerce_platform_button') }}">{{ t('Customize The PayPal Button') }}</a>
</span>
