{##
 # Language selector top menu node
 #}
<div class="language-selector-menu menu">
  <div class="title" onclick="this.classList.toggle('opened')">
    {{ this.getCurrentLanguage().getCode() }}
    <span class="caret"></span>
  </div>
  <div class="dropdown-menu">{{ widget('XLite\\View\\Menu\\Admin\\LanguageSelector\\Menu') }}</div>
</div>
