{##
 # Header bar
 #
 # #ListChild (list="layout.header", weight="200")
 #}

<div id="header-bar">
  {{ widget_list('layout.header.bar') }}
</div>
{{ widget_list('layout.header.bar.after') }}
<div class="header-break"></div>