{##
 # Add to wishlist button
 #
 # @ListChild (list="product.details.page.info.form.buttons.cart-buttons", zone="customer", weight="120")
 # @ListChild (list="product.details.page.info.form.buttons-added.cart-buttons", zone="customer", weight="120")
 # @ListChild (list="product.details.quicklook.info.form.buttons.cart-buttons", zone="customer", weight="135")
 # @ListChild (list="product.details.quicklook.info.form.buttons-added.cart-buttons", zone="customer", weight="135")
 #}

<div class="add-to-wishlist-wrapper">
    {{ widget('\\QSL\\MyWishlist\\View\\Button\\AddToWishlist') }}
</div>
