{##
 # Display horizontal minicart item price
 #
 # @ListChild (list="minicart.horizontal.item", weight="18")
 #}
<div class="item-amount">{{ this.item.getAmount() }}<div class="times">&times;</div></div>
