<div class="register-button">{{ widget('\\QSL\\LoyaltyProgram\\View\\Button\\SignUp') }}</div>

<div class="login-section">
    <div>{{ t('Already a member?') }}</div>
    <div><a href="{{ xurl('login') }}">{{ t('Click here to login') }}</a></div>
</div>
