{# vim: set ts=2 sw=2 sts=2 et: #}

<div class="product-photo">
  {{ widget('\\Qualiteam\\SkinActMagicImages\\View\\Product\\Details\\Customer\\Magic360') }}
</div>

{{ include('modules/Qualiteam/SkinActVideoTour/product/details/parts/video-tour-button.twig') }}