{#
 # @ListChild (list="reorder.item", weight="60")
#}

<td class="item-subtotal">
  <span class="subtotal">{{ widget('XLite\\View\\Surcharge', surcharge=this.getDisplayProductPrice(), currency=this.getCurrency()) }}</span>
</td>