{##
 # Subcategories count link
 #
 # @ListChild (list="itemsList.qualiteam.skinactvideofeature.videocategories.cell.subcategories", weight="100")
 #}

<a href="{{ xurl('video_categories', '', {'id': this.entity.getCategoryId()}) }}" class="count-link">{{ this.entity.getSubcategoriesCount() }}</a>
